
body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 1px 1px 1px blue;
  color: lightblue;
  background-color: lightblue;
  background-image: url("background.jpg");
  background-attachment: fixed;
  background-size: cover;
  text-transform: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
.nav li{
  float: left;
}

li a {

    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

h1 {
  color: white;
  font-size: 3rem;
  text-transform: none;
  text-align: center;
  /*width: 1000px;*/
  padding: 8px;
  margin: auto;
}

h2 {
}

h3 {
  text-transform: none;
}

.container {
  max-width: 1000px;
  margin: 2rem auto;
}
.lake {
  width: 1000px;
}
.center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
}

img {
    max-width: 100%;
    max-height: 100%;
}

a:link {
    color: lightblue;
}

a:visited {
    color: purple);
}

a:hover {
  color: blue;
}

.container {
  max-width: 1000px;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    h1{
    font-size: 2rem;
    width: auto;
    }
    h2 {
      font-size: 1.5rem;
    }
    h3 {
      font-size: 1rem;
    }
    p {
      font-size: 1rem;
    }
  }
